.coinus {
  padding: 10rem 0;
  background-image: url('../image/a/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .header {
    margin-bottom: 10rem;
    text-align: center;
  }
  .footer {
    margin-top: 6rem;
    color: $blue-dark;
    font-size: 1.6rem;
    text-align: center;
  }
  &-box {
    padding-bottom: 7rem;
    background-color: $ivory;

    &-title {
      padding: 3rem 5rem;
      background-color: $d-blue;
      color: $white;
      font-size: 3rem;
    } 
    .func {
      margin-top: 4rem;
      text-align: center;
    }
  }  
  &-list {
    @include clearfix;
    padding: 0 20px;
    border-bottom: 1px solid #bcbcbc;
    font-size: 2.1rem;
    @include box-sizing;

    li {
      display: table;
      table-layout: fixed;
      position: relative;
      z-index: 0;
      width: 100%;
      padding-top: 1.3rem;
      padding-bottom: 1.3rem;
      padding-left: 55px;
      @include box-sizing;
      border-top: 1px solid #dedede;
      counter-increment: number;

      &:before {
        content: counter(number)'.'; 
        display: block;
        position: absolute;
        top: 17px;
        left: 20px;
        font-size: 2.2rem;
      }
      &:first-child {
        border-top: 0;
      }
      .cell {
        display: table-cell;
        position: relative;
        width: 100%;
        vertical-align: middle;

        &:first-child {}
        &:last-child {
          width: 200px;
        }
      }
      .btn {
        width: 100%;
      }
    }

    &--chart {
      li {

        &:before {
          top: 70px;
        }
        .cell {
          padding: 5.5rem 0 2.5rem;

          &:nth-child(2),
          &:nth-child(3) {
            width: 145px;
          }
           &:nth-child(2) {
            padding-left: 2rem;
           }
        }
      } 
    }
  }
  @include mq($until: large) {
    &-list {
      padding: 0;

      &--chart {
        li {
          .cell {
            &:nth-child(2) {
              width: 130px;
            }
            &:nth-child(3) {
              width: 95px;

              span {
                display: none;
              }
            }
          }
        } 
      }
    }
  }
  @include mq($until: medium) {
    &-list {
      &--chart {
        li {
          display: block;
          padding: 0;

          &:before {
            top: 40px;
            left: 0;
            font-size: 1.3rem;
          }
          .cell {
            padding: 3rem 0 1.5rem;
            @include box-sizing;

            &:nth-child(1) {
              width: 45.3%;
              padding-left: 2rem;
            }
            &:nth-child(2) {
              width: 10%;
              padding-left: 0.5rem;
              padding-right: 0.5rem;
            }
            &:nth-child(3) {
              width: 95px;
            }
          }
        } 
      }
    }
  }
}