.coinus {
  padding: 10rem 0;
  background-image: url('../image/a/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .l-coinus {
    padding: 8rem 6rem 19.5rem;
  }

  .header {
    margin-bottom: 10rem;
    text-align: center;
  }
  .footer {
    margin-top: 6rem;
    color: $blue-dark;
    font-size: 1.6rem;
    text-align: center;
  }
  &-box {
    // padding-bottom: 7rem;
    background-color: $ivory;

    &-title {
      padding: 3rem 5rem;
      background-color: $d-blue;
      color: $white;
      font-size: 3rem;
    } 
    .func {
      margin-top: 4rem;
      text-align: center;
    }
  }  
  &-box-inner {
    padding-bottom: 7rem;
  }
  &-list {
    @include clearfix;
    padding: 0 20px;
    border-bottom: 1px solid #bcbcbc;
    font-size: 2.1rem;
    @include box-sizing;

    li {
      display: table;
      table-layout: fixed;
      position: relative;
      z-index: 0;
      width: 100%;
      padding-top: 1.3rem;
      padding-bottom: 1.3rem;
      padding-left: 55px;
      @include box-sizing;
      border-top: 1px solid #dedede;
      counter-increment: number;

      &:before {
        content: counter(number)'.'; 
        display: block;
        position: absolute;
        top: 17px;
        left: 20px;
        font-size: 2.2rem;
      }
      &:first-child {
        border-top: 0;
      }
      .cell {
        display: table-cell;
        position: relative;
        width: 100%;
        vertical-align: middle;

        &:first-child {}
        &:last-child {
          width: 200px;
        }
      }
      .btn {
        width: 100%;
      }
    }

    &--chart {
      li {

        &:before {
          top: 70px;
        }
        .cell {
          padding: 5.5rem 0 2.5rem;

          &:nth-child(2),
          &:nth-child(3) {
            width: 145px;
          }
           &:nth-child(2) {
            padding-left: 2rem;
           }
        }
      } 
    }
  }
  .btn-plus {
    position: absolute;
    bottom: 8px;
    right: -10px;
    @include transform(translateX(100%));
  }  
  @include mq($until: large) {
    padding: 5rem 0;

    .header {
      padding: 0 7.2rem;
      margin-bottom: 5rem;
    }
    &-list {
      padding: 0;

      &--chart {
        li {

          &:before {
            top: 70px;
          }
          .cell {
            @include box-sizing;

            &:nth-child(1) {
              width: 55%;
            }
            &:nth-child(2) {
              width: 25%;
            }
            &:nth-child(3) {
              width: 20%;

              span {
                display: none;
              }
            }
          }
        } 
      }
    }
  }
  @include mq($until: medium) {
    & {
      padding-bottom: 8.3rem;
    }
    .l-coinus {
      padding: 3.2rem 1.5rem 6.5rem;
    }    
    .footer {
      margin-top: 2.8rem;
      font-size: 1.3rem;
    }
    &-box {
      &-title {
        padding: 2rem;
        font-size: 1.9rem;
      }
    }
    &-list {
      &--event {
        li {
          padding-top: 1rem;
          padding-bottom: 1rem;
          padding-left: 1.4rem;
          font-size: 1.2rem;

          &:before {
            left: 0;
            top: 23px;
            font-size: 1.4rem;
          }
          .cell {
            &:first-child {
              span {
                display: inline-block;
                overflow: hidden;
                margin-right: 2rem;
              }
            }
            &:last-child {
              width: 72px;
            }
          }
          .btn {
            font-size: 1rem;

            &.btn--blue {
              span {
                color: #b3d6ff;
              }
            }
            &.btn--gray {
              span {
                color: #d0d0d0;
              }
            }
          }
        }
      }
      &--chart {
        li {
          // display: block;
          // padding: 0;
          padding-left: 1.5rem;
          padding-top: 1.5rem;
          padding-bottom: 1.5rem;

          &:before {
            top: 50px;
            left: 0;
            font-size: 1.3rem;
          }
          .cell {
            padding: 2.5rem 0 0;
            width: 100%;

            &:nth-child(1) {
              width: percentage(179px/310px);
              // padding-left: 2rem;
            }
            &:nth-child(2) {
              width: percentage(85px/310px);
              padding-left: 0.5rem;
              padding-right: 0.5rem;
            }
            &:nth-child(3) {
              width: percentage(48px/310px);
            }
          }
        } 
      }
    }
  }
}