.coinus {
  &-project {
    background-color: $fog;
    padding-bottom: 7rem;

    &-title {
      padding: 3rem 5rem;
      background-color: $d-blue;
      color: $white;
      font-size: 3rem;
    } 
    .func {
      margin-top: 4rem;
      text-align: center;
    }
  }
}