{{set
  'page'
}}
{{#>layout}}
<div class="coinus">
  <div class="l-wrap">
    {{>header}}
    <div class="coinus-project">
      <h2 class="coinus-project-title">프로젝트 내용 입력</h2>
      <div class="event">
        <div class="event-result">현재 진행중인 프로젝트는 <em class="pink">10</em>개 입니다.</div>
        <div class="event-tab">
          <a href="#" class="is-active"><span>진행중인 프로젝트</span></a>
          <a href="event-finish.html"><span>진행중인 프로젝트</span></a>
        </div>
        <ul id="event-run" class="event-list is-active">
          <li>
            <div class="cell">0xsljaljdlfjalsfjklwei878sf9asf79s98sdf7fds</div>
            <div class="cell">
              <a href="#" class="btn btn--blue"><span>마켓 현황 보러가기</span></a>
            </div>
          </li>
          <li>
            <div class="cell">0xsljaljdlfjalsfjklwei878sf9asf79s98sdf7fds</div>
            <div class="cell">
              <a href="#" class="btn btn--blue"><span>마켓 현황 보러가기</span></a>
            </div>
          </li>
          <li>
            <div class="cell">0xsljaljdlfjalsfjklwei878sf9asf79s98sdf7fds</div>
            <div class="cell">
              <a href="#" class="btn btn--blue"><span>마켓 현황 보러가기</span></a>
            </div>
          </li>
          <li>
            <div class="cell">0xsljaljdlfjalsfjklwei878sf9asf79s98sdf7fds</div>
            <div class="cell">
              <a href="#" class="btn btn--blue"><span>마켓 현황 보러가기</span></a>
            </div>
          </li>
          <li>
            <div class="cell">0xsljaljdlfjalsfjklwei878sf9asf79s98sdf7fds</div>
            <div class="cell">
              <a href="#" class="btn btn--blue"><span>마켓 현황 보러가기</span></a>
            </div>
          </li>
          <li>
            <div class="cell">0xsljaljdlfjalsfjklwei878sf9asf79s98sdf7fds</div>
            <div class="cell">
              <a href="#" class="btn btn--blue"><span>마켓 현황 보러가기</span></a>
            </div>
          </li>
          <li>
            <div class="cell">0xsljaljdlfjalsfjklwei878sf9asf79s98sdf7fds</div>
            <div class="cell">
              <a href="#" class="btn btn--blue"><span>마켓 현황 보러가기</span></a>
            </div>
          </li>
          <li>
            <div class="cell">0xsljaljdlfjalsfjklwei878sf9asf79s98sdf7fds</div>
            <div class="cell">
              <a href="#" class="btn btn--blue"><span>마켓 현황 보러가기</span></a>
            </div>
          </li>
          <li>
            <div class="cell">0xsljaljdlfjalsfjklwei878sf9asf79s98sdf7fds</div>
            <div class="cell">
              <a href="#" class="btn btn--blue"><span>마켓 현황 보러가기</span></a>
            </div>
          </li>
        </ul>
        {{>pagination}}
      </div>
    </div>
    {{>footer}}
  </div>
</div>
{{/layout}}
{{#*inline 'script'}}
  <script src="/assets/js/event.js"></script>
{{/inline}}