// --------------------------------------------------
// Sidenav
// --------------------------------------------------
.is-nav-active {
    &:after {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 110;
        background-color: $black;
        opacity: 0.8;
    }

    #wrap {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }
}
.sidenav {
    $dur: 0.4s;
    $ease: cubic-bezier(0.390, 0.575, 0.565, 1.000);

    position: fixed;
    top: 0;
    right: 0%;
    z-index: 199;
    width: 100%;
    max-width: 360px;
    height: 100%;
    background-color: $black;
    font-size: 1.6rem;
    @include transform(translateX(100%));
    @include transform(translate3d(100%, 0, 0));

    .l-sidenav {
        overflow-y: auto;
        @include full-pos;
    }

    &-logo {
        border-bottom: 1px solid $dark;
        background-color: $black;
        font-size: 0rem;
        text-align: center;

        .logo-a {
            position: relative;
            z-index: 101;
            display: inline-block;
            width: 115px;
            padding: 20px 0;
            color: $white;
        }
        .logo-img {
            display: inline-block;
            vertical-align: top;
            width: 100%;
            height: 20px;

            path {
                fill: $white;
            }
        }
    }
    &-common {
        position: absolute;
        top: 15px;
        left: 0;
        right: 0;
        padding: 0 20px;
        font-size: 0;
        @include clearfix;

        .common-login {
            display: block;
            float: left;

            @include icon('after', 'login') {
                color: $silver-dark;
                font-size: 2rem;
            }
        }
        .common-logout {
            display: block;
            margin-top: 5px;
            float: left;

            @include icon('after', 'logout') {
                color: $silver-dark;
                font-size: 2rem;
            }
        }
        .close-sidenav {
            float: right;
            padding: 5px 0;
            outline: 0 none;

            @include icon('close', 'after') {
                color: $silver-dark;
                font-size: 1.8rem;
            }
        }
    }
    &-utils {
        padding: 20px 20px 40px;
        font-size: 1.4rem;

        .dropdown {
            margin: 15px 0;
            background-color: transparent;

            &-selector {
                min-width: 220px;
                padding-left: 95px;
                border: 0 none;
                line-height: 1.5;
                color: $gray-light;

                &:before {
                    content: 'LANGUAGE';
                    position: absolute;
                    top: 50%;
                    left: 0;
                    font-family: $en;
                    @include transform(translateY(-50%));
                    @include transition(all $dur $ease);
                }

                &:after {
                    border-top-color: $gray-light;
                    border-bottom-color: $gray-light;
                }
            }
            &-option {
                top: initial;
                bottom: 0%;
                margin-bottom: 30px;
                border-top-color: $dark;
            }
            &.is-active .dropdown-selector:before {
                left: 5px;
            }
        }
    }
    &-link {
        li {
            position: relative;
            display: inline-block;
            vertical-align: top;
            padding-right: 10px;
            margin-right: 6px;

            &:after {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                width: 1px;
                height: 11px;
                margin: auto;
                background-color: $dark;
            }
        }
    }
    &-menu {
        background-color: $black;
    }
    &-d1 {
        display: block;
        padding: 15px 20px;
        border-bottom: 1px solid $dark;
        color: $white;
        @include h5;
    }
    &-d2 {
        display: block;
        padding: 15px 20px;
        border-bottom: 1px solid red;
        color: $dark;
        font-weight: bold;
    }
    &-d3 {
        border-bottom: 1px solid transparent;

        &.is-current {
            border-bottom: 1px solid $brand;
            color: $brand;
        }
    }
    .d2 {
        background-color: $white;

        > li.is-active {
            background-color: $fog;
        }
    }
    .d3 {
        padding: 15px 20px;
        border-bottom: 1px solid red;
        background-color: $white;

        li {
            padding: 10px 20px 11px;
        }
    }
    .has-sub {
        > span {
            position: relative;

            &:before,
            &:after {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                right: 20px;
                width: 16px;
                height: 0px;
                margin: auto;
                border: 1px solid $silver-dark;
                @include transition(all $dur $ease);
                @include box-sizing;
            }

            &:after {
                @include transform(rotate(90deg) scaleX(1));
            }
        }

        &.is-active {
            > span {
                &:before {
                    @include transform(rotate(-180deg));
                }

                &:after {
                    height: 16px;
                    border-width: 2px;
                    border-color: transparent;
                    opacity: 0;
                    @include transform(rotate(0deg));
                }
            }
        }
    }
    &.is-active {
        box-shadow: -3px 0 7px 0 rgba($black, 0.35);
    }
    @include mq(large) {
        & {
            display: none;
        }
    }
}
