<footer id="footer" class="footer">
    <img src="/assets/image/a/footer-mobile.jpg" class="is-mobile" alt="">
    <span class="l-wrap">
        <div class="l-narrow">
            <span>
                <img src="/assets/image/a/footer-desktop.jpg" class="is-desktop" alt="">
            </span>
        </div>
    </span>
</footer>