<header id="header" class="header">
    <div class="l-wrap">
        <div class="header-wrap">
            <h1 id="logo" class="logo">
                <a href="#" class="logo-a">로고</a>
            </h1>
            <nav id="gnb" class="gnb" role="navigation">
                <h2 class="a11y">HERA GNB</h2>
                <ul class="gnb-menu">
                    <li class="d1">
                        <a href="pages" class="gnb-d1">A title</a>
                        <div class="gnb-draw">
                            <div class="l-gnb">
                                <div class="gnb-sub">
                                    <ul class="gnb-sub-menu">
                                        <li class="d2">
                                            <span class="gnb-d2">A - sub title</span>
                                            <ul class="d3">
                                                <li><a href="/pages/cushion.html" class="gnb-d3">test</a></li>
                                            </ul>
                                        </li>
                                        <li class="d2">
                                            <a href="/pages/cushion-2.html" class="gnb-d2">test</a>
                                        </li>
                                        <li class="d2">
                                            <a href="#" class="gnb-d2">test</a>
                                        </li>
                                        <li class="d2">
                                            <a href="#" class="gnb-d2">test</a>
                                        </li>
                                        <li class="d2">
                                            <a href="#" class="gnb-d2">test</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="d1">
                        <a href="#" class="gnb-d1">test</a>
                        <div class="gnb-draw">
                            <div class="l-gnb">
                                <div class="gnb-sub">
                                    <ul class="gnb-sub-menu">
                                        <li class="d2">
                                            <span class="gnb-d2">B - sub title</span>
                                            <ul class="d3">
                                                <li><a href="#" class="gnb-d3">test</a></li>
                                            </ul>
                                        </li>
                                        <li class="d2">
                                            <a href="#" class="gnb-d2">test</a>
                                        </li>
                                        <li class="d2">
                                            <a href="#" class="gnb-d2">test</a>
                                        </li>
                                        <li class="d2">
                                            <a href="#" class="gnb-d2">test</a>
                                        </li>
                                        <li class="d2">
                                            <a href="#" class="gnb-d2">test</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="d1">
                        <a href="#" class="gnb-d1">C title</a>
                        <div class="gnb-draw">
                            <div class="l-gnb">
                                <div class="gnb-sub">
                                    <ul class="gnb-sub-menu">
                                        <li class="d2">
                                            <span class="gnb-d2">C - sub title</span>
                                            <ul class="d3">
                                                <li><a href="#" class="gnb-d3">test</a></li>
                                            </ul>
                                        </li>
                                        <li class="d2">
                                            <a href="#" class="gnb-d2">test</a>
                                        </li>
                                        <li class="d2">
                                            <a href="#" class="gnb-d2">test</a>
                                        </li>
                                        <li class="d2">
                                            <a href="#" class="gnb-d2">test</a>
                                        </li>
                                        <li class="d2">
                                            <a href="#" class="gnb-d2">test</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </nav>
            <div class="common-links">
                <a href="#sidenav" class="open-sidenav">
                    <span class="a11y">메뉴 열기</span>
                </a>
            </div>
        </div>
    </div>
</header>