<div class="pagination">
  <span class="prev prev--first">처음으로</span>
  <span class="prev">이전</span>

  <span class="page is-current">1</span>
  <a href="#" class="page">2</a>
  <a href="#" class="page">3</a>
  <a href="#" class="page">4</a>
  <a href="#" class="page">5</a>

  <a href="#" class="next">다음</a>
  <a href="#" class="next next--last">맨끝</a>
</div>