<nav id="sidenav" class="sidenav" role="navigation">
    <button type="button" class="close-sidenav"><span class="a11y">메뉴 닫기</span></button>
    <ul class="sidenav-menu">
        <li class="d1">
            <span class="sidenav-d1">test</span>
            <ul class="d2">
                <li><a href="/pages/cushion.htmlm" class="sidenav-d2">test</a></li>
                <li><a href="#">test</a></li>
                <li><a href="#" class="sidenav-d2">test</a></li>
            </ul>
        </li>
        <li class="d1">
            <span class="sidenav-d1">test</span>
            <ul class="d2">
                <li><a href="#" class="sidenav-d2">test</a></li>
                <li><a href="#" class="sidenav-d2">test</a></li>
                <li><a href="#" class="sidenav-d2">test</a></li>
                <li><a href="#" class="sidenav-d2">test</a></li>
                <li><a href="#" class="sidenav-d2">test</a></li>
            </ul>
        </li>
        <li class="d1">
            <span class="sidenav-d1">ir</span>
            <ul class="d2">
                <li><a href="#" class="sidenav-d2">test</a></li>
                <li><a href="#" class="sidenav-d2">test</a></li>
                <li><a href="#" class="sidenav-d2">test</a></li>
                <li><a href="#" class="sidenav-d2">test</a></li>
                <li><a href="#" class="sidenav-d2">test</a></li>
            </ul>
        </li>
        <li class="d1">
            <span class="sidenav-d1">news</span>
            <ul class="d2">
                <li><a href="#" class="sidenav-d2">test</a></li>
                <li><a href="#" class="sidenav-d2">test</a></li>
            </ul>
        </li>
    </ul>
</nav>