// --------------------------------------------------
// chart
// --------------------------------------------------

.ct {
    &-chart {
        position: relative;
        max-width: 360px;
        margin: auto;
        text-align: center;

        .ct-chart-donut {
            overflow: visible;
        }
    }
    &-chart-donut {
        display: inline-block;
    }
    &-series-a &-slice-donut {
        fill: #001b36;
        stroke: transparent;
        stroke-width: 0px !important;
    }
    &-series-b &-slice-donut {
        stroke: #d9d9d9;
    }   
    &-series-c &-slice-donut {
        stroke: #23b2ea;
    }    
    &-average {
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        width: 80px;
        height: 80px;
        color: $white;
        font-size: 1.5rem;
        @include v-mid;
        @include transform(translate(-50%, -50%));

        b {
            display: block;
            font-weight: normal;
        }
    }
}