// --------------------------------------------------
// forms
// --------------------------------------------------

// 컨트롤 공통 스타일
%form-control {
    @include box-sizing;
    padding: 9px 14px;
    color: $gray-dark;
    font-size: 16px;
    line-height: 20px;
    border: 1px solid $silver;
    background: $white;
    vertical-align: middle;
    -webkit-appearance: none;
    @include radius(5px);
    @include transition(border-color 0.3s);

    &+ small,
    &+ .input-icon-button + small {
        display: block;
        margin-top: 7px;
    }

    &:hover,
    &:focus {
        border-color: $blue;
    }

    &.is-success {
        border-color: $brand-light;

        &+ small,
        &+ .input-icon-button + small {
            color: $brand-light;
        }
    }
    &.is-error {
        border-color: $error;

        &+ small,
        &+ .input-icon-button + small {
            color: $error;
        }
    }

    &[disabled] {
        color: $silver-dark;
        background: $fog;
    }
}
@mixin label-pos {
  position: absolute;
  top: 50%;
  left: 10px;
  @include transform(translateY(-50%));
}

// 입력 컨트롤
[type="text"],
[type="number"],
[type="tel"],
[type="password"],
[type="email"],
[type="search"],
[type="url"],
span.input-block,
textarea {
    @extend %form-control;
    outline: 0;
}

// textarea
textarea {
    padding: 19px 19px;
    line-height: 1.5;
    min-height: 100px;
    max-height: 500px;
}

.input-block {
    width: 100%;
    display: block;
}
.input-large {
    padding-top: 9px + 5px;
    padding-bottom: 9px + 5px;
}

// underline style
.input-underline {
    position: relative;
    padding: 3px 0 11px;
    border-top: none;
    border-left: none;
    border-right: none;
    @include radius(0);

    &:focus,
    &.is-success,
    &.is-error {
        padding-bottom: 10px;
        border-bottom-width: 2px;
    }

    @include mq(medium) {
        &.input-large {
            font-size: 20px;
            padding-bottom: 13px;

            &:focus,
            &.is-success,
            &.is-error {
                padding-bottom: 12px;
            }
        }
    }
}

.attach-file {
    position: relative;
    display: table;
    width: 100%;
    $pad-top: 6px;
    margin-top: -6px;

    &-preview {
        position: relative;
        width: 68px;
        display: table-cell;
        vertical-align: bottom;
        padding-right: 10px;
    }
    &-thumb {
        position: relative;
        vertical-align: bottom;

        @include icon(close) {
            position: absolute;
            right: 0;
            top: 0;
            padding: 5px;
            color: $white;
            font-size: 10px;
            background: $gray;
        };

        > img {
            display: block;
            width: 100%;
        }
    }
    &-control {
        display: table-cell;
        vertical-align: bottom;
    }
    &-input {
        position: absolute;
        right: 0;
        top: 0;
        font-size: 100px;
        opacity: 0;
        cursor: pointer;
        z-index: 1;

        &:focus + .attach-file-focus {
            visibility: visible;
        }
    }
    &-focus {
        position: absolute;
        left: 2px;
        right: 2px;
        top: 2px;
        bottom: 3px;
        outline: 2px solid #77abff;
        outline-color: rgba(#77abff, 0.5);
        visibility: hidden;
    }
    &-value {
        position: relative;
        overflow: hidden;
        padding-top: $pad-top;
        padding-bottom: 11px;
        border-bottom: 1px solid $silver;
        font-size: 16px;
        height: 20px;
        line-height: 20px;

        @include icon(image) {
            position: absolute;
            right: 2px;
            top: 2px + $pad-top;
            font-size: 20px;
        }
    }
    &-name {
        position: absolute;
        left: 1px;
        right: 27px;
        top: 3px + $pad-top;
        @include ellipsis();
    }
}

// input with icon button
.input-icon {
    position: relative;

    > input {
        padding-right: 40px;
    }
    &-button {
        position: absolute;
        right: 0;
        top: 0;
        padding: 10px;
        line-height: 1;

        @include icon(search) {
            font-size: 20px;
            vertical-align: top;
            line-height: 1;
        };
    }

    .input-large {
        padding-right: 50px;

        &+ .input-icon-button {
            padding: 15px;
        }
    }
}

// textarea with character counter
.textarea-container {
    position: relative;

    textarea {
        width: 100%;
    }
    .counter {
        position: absolute;
        right: 20px;
        bottom: 10px - 5px;
        pointer-events: none;
        font-size: 14px;
        color: #b4b4b4;

        &-current {
            color: $gray-light;
        }
    }

    &.is-max {
        .counter-max {
            color: $gray-light;
        }
    }
}

::-webkit-input-placeholder {
    color: $silver-dark;
}
::-moz-placeholder {
    color: $silver-dark;
}
:-ms-input-placeholder {
    color: $silver-dark;
}
:-moz-placeholder {
    color: $silver-dark;
}

// number type 컨트롤에서 spinner 감춤
input[type=number] {
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    -webkit-appearance: none;
    -moz-appearance: textfield;
}

// search type 컨트롤에서 관련 버튼 감춤
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

textarea:required,
input:required {
    background: #fff;
}

// select 컨트롤
select {
    display: inline-block;
    @extend %form-control;
    padding-right: 40px;

    background: $white url(../image/a/arrow-bottom.svg) 95% 50% no-repeat;

    .no-svgasimg & {
        background-image: url(../image/a/arrow-bottom.png);
    }

    -webkit-appearance: none;
    -moz-appearance: none;

    &::-ms-expand {
        display: none;
    }
}

%radio-check {
    position: relative;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;

    [type=radio],
    [type=checkbox] {
        overflow: hidden;
        position: absolute;
        width: 1px;
        height: 1px;
        clip: rect(1px, 1px, 1px, 1px);

        & + label {
            padding-left: 25px;

            &:before,
            &:after {
                position: absolute;
                left: 0;
                top: 50%;
                margin-top: -9px;
                font-size: 17px;
                line-height: 1;
            }
            &:before {
                color: $gray;
            }
            &:after {
                color: transparent;
                @include transition(color 0.2s);
            }
        }
        &:checked {
            & + label {
                &:before {
                    color: $black;
                }
            }
        }
        &[disabled] {
            & + label {
                color: $silver-dark;

                &:before {
                    color: $silver;
                    border-color: $silver;
                }
            }
        }
        &:focus + label {
        	outline: 1px dotted $silver-dark;
        }
    }

    > label {
        font-size: 16px;
    }

    &:last-child {
        margin-right: 0;
    }
}

// 체크박스
.checkbox {
    @extend %radio-check;
}

.form-list {
  position: relative;
  margin-left: 100px;
  margin-right: 143px;
  padding: 3.5rem 0;

  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    border-top: 1px solid #dedede;
  }
  > li {
    position: relative;
    padding-left: 150px;
    margin-top: 1.5rem;

    &:before {
      top: 50%;
      // left: -25px;
      @include transform(translateY(-50%));
    }
    &:first-child {
      margin-top: 0;
    }
    &.fixed {
      &:before {
        top: 20px;
      }
      .label {
        top: 20px;
      }
    }
  }
  ul {
    li {
      &:before {
        content: none;
      }
    }
  }  
  textarea {
    width: 100%;
    resize: none;
  }
  select {
    min-width: 300px;
  }
  .label {
    @include label-pos;
    color: inherit;
    font-size: 2rem;
  }  
  &-func {
    margin-right: 117px;

    .btn {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      height: 100%;
    }
  }
  &-file {
    .btn {
      left: auto;
    }
    button {
      @include label-pos;
      color: inherit;
    }
    label {
      display: block;
      position: static;
      margin-right: -117px;
      padding-right: 117px;
      @include transform(translateY(0));

      .btn {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }
  &-grid {
    overflow: hidden;
    margin: 0 -21px;

    .cell {
      float: left;
      width: 50%;
      padding: 0 21px;
      @include box-sizing;

      &:last-child {
        &:after {
          content: '';
          display: inline-block;
          position: absolute;
          width: 20px;
          margin-top: -20px;
          margin-left: -30px;
          border-bottom: 1px solid $silver;
        }
      }
    }
  }
  &-code {
    li {
      text-align: center;
      padding: 0;

      &:first-child {
        &:after {
          content: '/';
          position: absolute;
          top: 6px;
          left: 5px;
        }      
      }
      &:last-child {
        margin-bottom: 0;
      }
      & + li {
        margin-top: 1rem;
      }
      .cell-box {
        @include clearfix;
      }
      .cell {
        float: left;

        &:first-child {
          width: percentage(330px/567px);

          .input-wrap {
            float: left;
            width: percentage(200px/330px);

            label,
            input {
              float: left;
              width: 50%;
              height: 40px;
            }
            label {
              line-height: 40px;
            }
          }
          .btn {
            float: left;
            margin-left: percentage(10px/330px);
            width: percentage(120px/330px); 
          }            
        }
        &:last-child {
          width: percentage(237px/567px);
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;
          font-size: 2rem;

          span {
            display: block;
            margin-left: 2rem;
            border-bottom: 1px solid #9e9e9e;
          }
        }
      }
    }
  }
}
