.coinus {
  padding: 10rem 0;
  background-image: url('../image/a/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .header {
    margin-bottom: 10rem;
    text-align: center;
  }
  .footer {
    margin-top: 6rem;
    color: $blue-dark;
    font-size: 1.6rem;
    text-align: center;
  }
  &-login {
    position: relative;
    padding: 7rem percentage(464px/$w-default) 6rem 0;
    background-color: $white;

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      height: 100%;
      width: percentage(464px/$w-default);
      background-image: url('../image/a/login-bg.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;      
    }

    &-box {
      padding: 0 5rem;
    }
    &-header {
      color: #777;
      text-align: center;

      span {
        display: block;
        margin-top: 4rem;
        font-size: 2rem;
      }
    }
    &-form {
      margin-top: 3rem;

      .input {
        &-cell {
          position: relative;
          margin-top: 2rem;

          .dialog {
            display: inline-block;
            overflow: hidden;
            position: absolute;
            top: 50%;
            left: 30px;
            color: transparent;
            @include transform(translateY(-50%));

            img {
              display: block;
              max-width: none;
            }
          }
          &-id {
            .dialog {
              width: 20px;
              height: 30px;
            }
            .valid + .dialog {

              img {
                margin-left: -20px;
              }
            }
          }
          &-password {
            .dialog {
              width: 22px;
              height: 32px;
            }
            .valid + .dialog {

              img {
                margin-left: -22px;
              }
            }
          }
        }
        &-block {
          padding: 2rem 2rem 2rem 7.2rem;
          color: #bcbcbc;
          font-size: 2.1rem;

          &.valid {
            color: inherit !important;
          }
          &.error {
            border-color: $pink !important;
          }
          &::placeholder {
            color: #bcbcbc;
          }
        }
      }
      .btn {
        padding-top: 2.4rem;
        padding-bottom: 2.4rem;
        font-weight: bold;
        @include h3;
      }
      .func {
        margin-top: 3rem;
      }
    }
    &-utils {
      margin-top: 5rem;

      li {
        position: relative;
        padding-top: 1rem;
        padding-bottom: 1rem;

        &:before {
          top: 23px;
        }
        &:first-child {
          padding-right: 15rem;
        }
      }
      .btn {
        &--make {
          position: absolute;
          top: 0;
          right: 0;
          font-weight: bold;
        }
        &--faq {
          display: inline-block;
          margin-left: 1.5rem;

          span {
            border-bottom: 1px solid #9e9e9e;
          }
        }
      }
    }
  }
  a {
    text-decoration: none;
  }
}