.l-wrap {
    position: relative;
    max-width: $w-default;
    margin: auto;
    padding-left: percentage(($p-default/2)/$w-medium);
    padding-right: percentage(($p-default/2)/$w-medium);
}
.l-popup {
  position: relative;
  max-width: 700px;
  margin: auto;
}

@include mq($until: medium) {
  .l-wrap {
    padding-left: 0;
    padding-right: 0;
  }
}