{{set
  'page'
  mainClass = 'page-main'
}}
{{#>layout}}
<style>
.page-link {
  height: 100vh;
  display: -webkit-flex;
  -webkit-align-items: center;
  display: flex;
  align-items: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;  
}
.page-link li {
	margin: 0 1rem;
}
</style>
<ul class="page-link">
  <li>
    <ul>
      <li><a href="/pages/login">메인 로그인</a></li>
      <li><a href="/pages/login/make.html">메인계정 생성</a></li>
      <li><a href="/pages/login/success.html">메인계정 생성완료</a></li>
      
    </ul>
  </li>
  <li>
    <ul>
      <li><a href="/pages/project">프로젝트 등록</a></li>
      <li><a href="/pages/project/event-apply.html">프로젝트 등록2</a></li>
      <li><a href="/pages/project/event.html">진행중인 프로젝트</a></li>
      <li><a href="/pages/project/event-finish.html">완료된 프로젝트</a></li>
      <li><a href="/pages/project/market.html">실시간마켓현황</a></li>
      <li><a href="/pages/project/popup.html">자세히보기팝업</a></li>
    </ul>
  </li>
</ul>
{{/layout}}
{{#*inline 'script'}}{{/inline}}
